@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}